@{
    Layout = "layout.cshtml";
}

<div class="main">
    <table>
        <tbody>
            @if (!string.IsNullOrEmpty(Model.Commander))
            {
                <tr>
                    <td class="caption">Commander</td>
                    <td class="data" colspan="2">@Model.Commander</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.ShipName))
            {
                <tr>
                    <td class="caption">Ship Name</td>
                    <td class="data" colspan="2">@Model.ShipName</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.ShipType))
            {
                <tr>
                    <td class="caption">Ship Type</td>
                    <td class="data" colspan="2">@Model.ShipType</td>
                </tr>
            }
            @if (Model.Credits != "0")
            {
                <tr>
                    <td class="caption">Credits</td>
                    <td class="data" colspan="2">@Model.Credits CR</td>
                </tr>
            }

            @if (Model.Rebuy != "0")
            {
                <tr>
                    <td class="caption">Rebuy</td>
                    <td class="data" colspan="2">@Model.Rebuy CR</td>
                </tr>
            }

            <tr>
                <td class="divider" colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td class="caption center" colspan="3">RANK</td>
            </tr>

            <tr>
                <td class="caption">Federation</td>
                <td class="data">@Model.FederationRank</td>
                <td class="data right">@Model.FederationRankProgress %</td>
            </tr>
            <tr>
                <td class="caption">Empire</td>
                <td class="data">@Model.EmpireRank</td>
                <td class="data right">@Model.EmpireRankProgress %</td>
            </tr>
            <tr>
                <td class="caption">Combat</td>
                <td class="data">@Model.CombatRank</td>
                <td class="data right">@Model.CombatRankProgress %</td>
            </tr>
            <tr>
                <td class="caption">Trade</td>
                <td class="data">@Model.TradeRank</td>
                <td class="data right">@Model.TradeRankProgress %</td>
            </tr>
            <tr>
                <td class="caption">Explorer</td>
                <td class="data">@Model.ExplorationRank</td>
                <td class="data right">@Model.ExplorationRankProgress %</td>
            </tr>
            @if (Model.CqcRank != "0")
            {
                <tr>
                    <td class="caption">CQC</td>
                    <td class="data">@Model.CqcRank</td>
                    <td class="data right">@Model.CqcRankProgress %</td>
                </tr>
            }

            <tr>
                <td class="divider" colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td class="caption center" colspan="3">REPUTATION</td>
            </tr>

            @if (Model.FederationReputation >= -100 && Model.FederationReputation <= 100)
            {

                <tr>
                    <td class="caption">Federation</td>
                    <td class="data">@Model.FederationReputationState</td>
                    <td class="data right">@Model.FederationReputation.ToString("N0") %</td>
                </tr>
            }
            @if (Model.EmpireReputation >= -100 && Model.EmpireReputation <= 100)
            {

                <tr>
                    <td class="caption">Empire</td>
                    <td class="data">@Model.EmpireReputationState</td>
                    <td class="data right">@Model.EmpireReputation.ToString("N0") %</td>
                </tr>
            }
            @if (Model.AllianceReputation >= -100 && Model.AllianceReputation <= 100)
            {

                <tr>
                    <td class="caption">Alliance</td>
                    <td class="data">@Model.AllianceReputationState</td>
                    <td class="data right">@Model.AllianceReputation.ToString("N0") %</td>
                </tr>
            }
        </tbody>
    </table>
</div>
