@using System
@using System.Collections.Generic
@using Elite
@using System.Linq

@{
    Layout = "layout.cshtml";
}

<div class="main">

    @if (Model.CurrentCard == 0)
    {
        <div class="cardcaption">&nbsp;</div>

        <table>
            <tbody>
                @if (!string.IsNullOrEmpty(Model.Name))
                {
                    <tr>
                        <td class="caption">Ship Name</td>
                        <td class="data">@Model.Name</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.ShipTypeFull))
                {
                    <tr>
                        <td class="caption">Ship Type</td>
                        <td class="data">@Model.ShipTypeFull</td>
                    </tr>
                }
                @if (Model.HullValue + Model.ModulesValue > 0)
                {
                    <tr>
                        <td class="caption">Value</td>
                        <td class="data">@((Model.HullValue + Model.ModulesValue).ToString("N0")) CR</td>
                    </tr>
                }
                @if (Model.Rebuy > 0)
                {
                    <tr>
                        <td class="caption">Rebuy</td>
                        <td class="data">@Model.Rebuy.ToString("N0") CR</td>
                    </tr>
                }
                @if (Model.FuelCapacity > 0)
                {
                    <tr>
                        <td class="caption">Fuel Capacity</td>
                        <td class="data">@Model.FuelCapacity.ToString("N0") T</td>
                    </tr>
                    <tr>
                        <td class="caption">Fuel Level</td>
                        <td class="data">@Model.FuelPercent %</td>
                    </tr>
                }
                @if (Model.HullHealth >= 0 && Model.HullHealth < 100)
                {
                    <tr>
                        <td class="caption">Hull Health</td>
                        <td class="data alarm">@Model.HullHealth.ToString("N0") %</td>
                    </tr>
                }
                @if (Model.CargoCapacity > 0 && Model.CargoCapacity >= Model.Cargo)
                {
                    <tr>
                        <td class="caption">Cargo</td>
                        <td class="data">@Model.Cargo of @Model.CargoCapacity T</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="caption">Cargo Capacity</td>
                        <td class="data alarm">NONE</td>
                    </tr>
                }

                @if (Model.UnladenMass > 0)
                {
                    <tr>
                        <td class="caption">Mass</td>
                        <td class="data">@Model.UnladenMass.ToString("N0") T</td>
                    </tr>
                }
                @if (Model.MaxJumpRange > 0)
                {
                    <tr>
                        <td class="caption">Jump Range</td>
                        <td class="data">@Model.MaxJumpRange.ToString("N1") LY</td>
                    </tr>
                }
                @if (Model.LastJump > 0)
                {
                    <tr>
                        <td class="caption">Last Jump</td>
                        <td class="data">@Model.LastJump.ToString("N1") LY</td>
                    </tr>
                }
            
                @if (!string.IsNullOrEmpty(Model.Bulkhead))
                {
                    <tr>
                        <td class="caption">Bulkhead</td>
                        <td class="data">@Model.Bulkhead</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.PowerPlant))
                {
                    <tr>
                        <td class="caption">Powerplant</td>
                        <td class="data">@Model.PowerPlant</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Engine))
                {
                    <tr>
                        <td class="caption">Engine</td>
                        <td class="data">@Model.Engine</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.PowerDistributor))
                {
                    <tr>
                        <td class="caption">Power Distr.</td>
                        <td class="data">@Model.PowerDistributor</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.ShieldGenerator))
                {
                    <tr>
                        <td class="caption">Shield Gen.</td>
                        <td class="data">@Model.ShieldGenerator</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.FrameShiftDrive))
                {
                    <tr>
                        <td class="caption">FSD</td>
                        <td class="data">@Model.FrameShiftDrive@Model.GuardianFSDBooster</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.LifeSupport))
                {
                    <tr>
                        <td class="caption">Life Support</td>
                        <td class="data">@Model.LifeSupport</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Sensors))
                {
                    <tr>
                        <td class="caption">Sensors</td>
                        <td class="data">@Model.Sensors</td>
                    </tr>
                }


            </tbody>
        </table>
        if (!string.IsNullOrEmpty(Model.ShipImage))
        {
            <img src="ships\@Model.ShipImage" />
        }

    }
    else if (Model.CurrentCard == 1)
    {
        <div class="cardcaption">&nbsp;</div>

        foreach (var m in Model.StoredShips)
        {
            <table>
                <tbody>
                    @if (!string.IsNullOrEmpty(m.Name))
                    {
                        <tr>
                            <td class="caption">Ship Name</td>
                            <td class="data">@m.Name</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.ShipTypeFull))
                    {
                        <tr>
                            <td class="caption">Ship Type</td>
                            <td class="data">@m.ShipTypeFull (@m.ShipID)</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.StarSystem))
                    {
                        <tr>
                            <td class="caption">In System</td>
                            <td class="data">@m.StarSystem</td>
                        </tr>
                    }
                    @if (m.Distance > 0)
                    {
                        <tr>
                            <td class="caption">Distance</td>
                            <td class="data">@m.Distance.ToString("N0") Ly</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.StationName))
                    {
                        <tr>
                            <td class="caption">On Station</td>
                            <td class="data">@m.StationName</td>
                        </tr>
                    }
                    @if (m.HullValue + m.ModulesValue > 0)
                    {
                        <tr>
                            <td class="caption">Value</td>
                            <td class="data">@((m.HullValue + m.ModulesValue).ToString("N0")) CR</td>
                        </tr>
                    }
                    @if (m.Rebuy > 0)
                    {
                        <tr>
                            <td class="caption">Rebuy</td>
                            <td class="data">@m.Rebuy.ToString("N0") CR</td>
                        </tr>
                    }
                    @if (m.Hot)
                    {
                        <tr>
                            <td class="caption">Hot</td>
                            <td class="data alarm">YES</td>
                        </tr>
                    }
                    @if (m.HullHealth >= 0 && m.HullHealth < 100)
                    {
                        <tr>
                            <td class="caption">Hull Health</td>
                            <td class="data alarm">@m.HullHealth.ToString("N0") %</td>
                        </tr>
                    }
                    @if (m.FuelCapacity > 0)
                    {
                        <tr>
                            <td class="caption">Fuel Capacity</td>
                            <td class="data">@m.FuelCapacity.ToString("N0") T</td>
                        </tr>
                    }
                    @if (m.CargoCapacity > 0)
                    {
                        <tr>
                            <td class="caption">Cargo Capacity</td>
                            <td class="data">@m.CargoCapacity T</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="caption">Cargo Capacity</td>
                            <td class="data alarm">NONE</td>
                        </tr>
                    }

                    @if (m.UnladenMass > 0)
                    {
                        <tr>
                            <td class="caption">Mass</td>
                            <td class="data">@m.UnladenMass.ToString("N0") T</td>
                        </tr>
                    }
                    @if (m.MaxJumpRange > 0)
                    {
                        <tr>
                            <td class="caption">Jump Range</td>
                            <td class="data">@m.MaxJumpRange.ToString("N1") LY</td>
                        </tr>
                    }

                    @if (!string.IsNullOrEmpty(m.Bulkhead))
                    {
                        <tr>
                            <td class="caption">Bulkhead</td>
                            <td class="data">@m.Bulkhead</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.PowerPlant))
                    {
                        <tr>
                            <td class="caption">Powerplant</td>
                            <td class="data">@m.PowerPlant</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.Engine))
                    {
                        <tr>
                            <td class="caption">Engine</td>
                            <td class="data">@m.Engine</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.PowerDistributor))
                    {
                        <tr>
                            <td class="caption">Power Distr.</td>
                            <td class="data">@m.PowerDistributor</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.ShieldGenerator))
                    {
                        <tr>
                            <td class="caption">Shield Gen.</td>
                            <td class="data">@m.ShieldGenerator</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.FrameShiftDrive))
                    {
                        <tr>
                            <td class="caption">FSD</td>
                            <td class="data">@m.FrameShiftDrive@m.GuardianFSDBooster</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.LifeSupport))
                    {
                        <tr>
                            <td class="caption">Life Support</td>
                            <td class="data">@m.LifeSupport</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(m.Sensors))
                    {
                        <tr>
                            <td class="caption">Sensors</td>
                            <td class="data">@m.Sensors</td>
                        </tr>
                    }

                </tbody>
            </table>

            if (!string.IsNullOrEmpty(m.ShipImage))
            {
                <img src="ships\@m.ShipImage"  />
            }

            if (!((List<EliteShips.ShipData>)Model.StoredShips).Last().Equals((EliteShips.ShipData)m))
            {
                <table class="divider">
                    <tbody>
                        <tr>
                            <td class="divider">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>

            }

        }
    }

</div>