<div style="font-family:'Arial Unicode MS';font-size:15px;line-height:24px;margin-top:1px;margin-left:65px;color:white;">
    <table style="border-spacing:5px;">
        <tr>
            <td>Federation</td>
            <td>@Model.FederationRank</td>
            <td>@Model.FederationRankProgress %</td>
        </tr>
        <tr>
            <td>Empire</td>
            <td>@Model.EmpireRank</td>
            <td>@Model.EmpireRankProgress %</td>
        </tr>
        <tr>
            <td>Combat</td>
            <td>@Model.CombatRank</td>
            <td>@Model.CombatRankProgress %</td>
        </tr>
        <tr>
            <td>Trade</td>
            <td>@Model.TradeRank</td>
            <td>@Model.TradeRankProgress %</td>
        </tr>
        <tr>
            <td>Explorer</td>
            <td>@Model.ExplorationRank</td>
            <td>@Model.ExplorationRankProgress %</td>
        </tr>
        <tr>
            <td>CQC</td>
            <td>@Model.CqcRank</td>
            <td>@Model.CqcRankProgress %</td>
        </tr>
    </table>
</div>
