<div class="main">
    <table>
        <tr>
            <td class="caption">Ship</td>
            <td class="data">@Model.Ship</td>
        </tr>
        <tr>
            <td class="caption">Ship Type</td>
            <td class="data">@Model.ShipType</td>
        </tr>
        <tr>
            <td class="caption">Fuel Main</td>
            <td class="data">@Model.FuelMain</td>
        </tr>
        <tr>
            <td class="caption">Fuel Reservoir</td>
            <td class="data">@Model.FuelReservoir</td>
        </tr>
        <tr>
            <td class="caption">Fuel Max</td>
            <td class="data">@Model.MaxFuel</td>
        </tr>
    </table>
</div>