<div class="main">
    <table>
        <tr>
            <td class="caption">Star System</td>
            <td class="data">@Model.StarSystem</td>
        </tr>
        <tr>
            <td class="caption">Body</td>
            <td class="data">@Model.Body</td>
        </tr>
        <tr>
            <td class="caption">Body Type</td>
            <td class="data">@Model.BodyType</td>
        </tr>
        <tr>
            <td class="caption">Station</td>
            <td class="data">@Model.Station</td>
        </tr>
        @if (Model.Docked)
        {
            <tr>
                <td class="caption">Landing Pad</td>
                <td class="data">@Model.LandingPad</td>
            </tr>
            <tr>
                <td class="caption">Station Type</td>
                <td class="data">@Model.StationType</td>
            </tr>
            <tr>
                <td class="caption">Government</td>
                <td class="data">@Model.Government</td>
            </tr>
            <tr>
                <td class="caption">Allegiance</td>
                <td class="data">@Model.Allegiance</td>
            </tr>
        }
    </table>
</div>