@{
    Layout = "layout.cshtml";
}

    <div class="main">
        <table>
            <tbody>
                @if (Model.TargetLocked)
                {
                    if (!string.IsNullOrEmpty(Model.Ship))
                    {
                        <tr>
                            <td class="caption">Ship</td>
                            <td class="data">@Model.Ship</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.LegalStatus))
                    {
                        <tr>
                            <td class="caption">Legal Status</td>
                            <td class="data @(Model.LegalStatus=="Wanted" ? "alarm" : "")">@Model.LegalStatus</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.PilotNameLocalised))
                    {
                        <tr>
                            <td class="caption">Pilot Name</td>
                            <td class="data">@Model.PilotNameLocalised</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.PilotRank))
                    {
                        <tr>
                            <td class="caption">Rank</td>
                            <td class="data">@Model.PilotRank</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Faction))
                    {
                        <tr>
                            <td class="caption">Faction</td>
                            <td class="data">@Model.Faction</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Power))
                    {
                        <tr>
                            <td class="caption">Power</td>
                            <td class="data">@Model.Power</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.SubsystemLocalised))
                    {
                        <tr>
                            <td class="caption">Subsystem</td>
                            <td class="data">@Model.SubsystemLocalised</td>
                        </tr>
                    }
                    if (Model.Bounty > 0)
                    {
                        <tr>
                            <td class="caption">Bounty</td>
                            <td class="data">@Model.Bounty</td>
                        </tr>
                    }
                    if (Model.HullHealth > 0)
                    {
                        <tr>
                            <td class="caption">Hull Health</td>
                            <td class="data">@Model.HullHealth.ToString("N0") %</td>
                        </tr>
                    }
                    if (Model.ShieldHealth > 0)
                    {

                        <tr>
                            <td class="caption">Shield Health</td>
                            <td class="data">@Model.ShieldHealth.ToString("N0") %</td>
                        </tr>
                    }
                    if (Model.SubsystemHealth > 0)
                    {
                        <tr>
                            <td class="caption">Subsystem Health</td>
                            <td class="data">@Model.SubsystemHealth.ToString("N0") %</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if (Model.TargetLocked && !string.IsNullOrEmpty(Model.ShipImage))
        {
            <img src="ships\@Model.ShipImage"  />
        }
    </div>