@using System.Net
@{
    Layout = "layout.cshtml";
}

<div class="main">
    <table>
        <tbody>
            @if (Model.StarSystem != Model.FsdTargetName && Model.RemainingJumpsInRoute > 0 && !string.IsNullOrEmpty(Model.FsdTargetName))
            {
                <tr>
                    <td class="caption">FSD Target</td>
                    <td class="data">@Model.FsdTargetName</td>
                </tr>
            }
            @if (Model.StarSystem != Model.FsdTargetName && Model.RemainingJumpsInRoute > 0)
            {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Jumps Left</td>
                    <td class="data">@Model.RemainingJumpsInRoute</td>
                </tr>
            }

            <tr>
                <td class="caption">System</td>
                <td class="data">@Model.StarSystem</td>
            </tr>

            @if (!string.IsNullOrEmpty(Model.SystemSecurity))
            {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Security</td>
                    <td class="data">@Model.SystemSecurity</td>
                </tr>
            }

            @if (!string.IsNullOrEmpty(Model.SystemGovernment))
            {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Government</td>
                    <td class="data">@Model.SystemGovernment</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.SystemAllegiance))
            {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                    <td class="data">@Model.SystemAllegiance</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.SystemFaction))
            {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Faction</td>
                    <td class="data">@Model.SystemFaction</td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.SystemEconomy))
            {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Economy</td>
                    <td class="data">@Model.SystemEconomy</td>
                </tr>
            }


            @if (Model.BodyType == "Station")
            {
                <tr>
                    <td class="caption">Station</td>
                    <td class="data">@Model.Station</td>
                </tr>
            }

            @if (Model.Docked)
            {
                if (!string.IsNullOrEmpty(Model.StationType))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Type</td>
                        <td class="data">@Model.StationType</td>
                    </tr>
                }
                if (!string.IsNullOrEmpty(Model.Government))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Government</td>
                        <td class="data">@Model.Government</td>
                    </tr>
                }
                if (!string.IsNullOrEmpty(Model.Allegiance))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                        <td class="data">@Model.Allegiance</td>
                    </tr>
                }
                if (!string.IsNullOrEmpty(Model.Faction))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Faction</td>
                        <td class="data">@Model.Faction</td>
                    </tr>
                }
                if (!string.IsNullOrEmpty(Model.Economy))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Economy</td>
                        <td class="data">@Model.Economy</td>
                    </tr>
                }

            }
            else
            {
                if (Model.LandingPad > 0)
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Landing Pad</td>
                        <td class="data">@Model.LandingPad</td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>