
@using System
@using System.Collections.Generic
@using Elite
@using System.Linq
@{
    Layout = "layout.cshtml";
    var odd = true;
}

<div class="main">
    
    <div class="cardcaption">&nbsp;</div>

    @if (Model.MissionCargoCount == 0 && Model.StolenCargoCount == 0 && Model.CargoCount == 0)
    {
        <div class="cardcaption data">CARGO HOLD EMPTY</div>
    }

    <table class="zebratable">
        <tbody>
        @foreach (var m in Model.Cargo)
        {
            <tr  class="@(odd ? "zebraodd": "zebraeven")">
                <td class="caption wrap">@m.Name</td>
                <td class="data right">@m.Count</td>
            </tr>
            odd = !odd;
        }

        @if (Model.MissionCargoCount > 0)
        {
            if (Model.CargoCargoCount > 0)
            {
                <tr>
                    <td class="divider" colspan="2">&nbsp;</td>
                </tr>
            }
            <tr>
                <td class="caption center" colspan="2">MISSION CARGO</td>
            </tr>
        }

        @foreach (var mg in Model.MissionCargo)
        {
            foreach (var m in mg)
            {
                if (((List<Cargo.CargoItem>) mg).FirstOrDefault().Equals((Cargo.CargoItem) m))
                {
                    <tr>
                        <td class="caption" colspan="2">@m.MissionName
                            @if (!string.IsNullOrEmpty(m.System))
                            {
                                <text>to</text>
                                @m.System
                            }
                            @if (!string.IsNullOrEmpty(m.Station))
                            {
                                <text>,</text>
                                @m.Station
                            }
                        </td>
                    </tr>
                }

                <tr>
                    <td class="caption wrap">&nbsp;&nbsp;&nbsp;@m.Name</td>
                    <td class="data right">@m.Count</td>
                </tr>
            }
        }

        @if (Model.StolenCargoCount > 0)
        {
            if (Model.MissionCargoCount > 0 || Model.CargoCargoCount > 0)
            {
                <tr>
                    <td class="divider" colspan="2">&nbsp;</td>
                </tr>
            }
            <tr>
                <td class="caption center" colspan="2">STOLEN</td>
            </tr>
        }

        @foreach (var m in Model.StolenCargo)
        {
            <tr>
                <td class="caption wrap">@m.Name</td>
                <td class="data right">@m.Stolen</td>
            </tr>
        }

        </tbody>
    </table>


</div>
