
@using System
@using System.Collections.Generic
@using Elite
@using System.Linq
@{
    Layout = "layout.cshtml";
    var odd = true;
    var displaydivider = false;
}

    <div class="main">

        <div class="cardcaption">&nbsp;</div>

        @if (Model.MissionCargoCount == 0 && Model.StolenCargoCount == 0 && Model.CargoCount == 0)
        {
            <div class="cardcaption data">CARGO HOLD EMPTY</div>
        }

        @if (Model.CargoCount > 0)
        {
            displaydivider = true;

            <table class="zebratable">
                <tbody>
                    @foreach (var m in Model.Cargo)
                    {
                        <tr class="@(odd ? "zebraodd" : "zebraeven")">
                            <td class="caption wrap">@m.Name</td>
                            <td class="data right">@m.Count</td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>
        }

        @if (Model.MissionCargoCount > 0)
        {
            odd = true;

            <table>
                <tbody>

                    @if (displaydivider)
                    {
                        <tr>
                            <td class="divider">&nbsp;</td>
                        </tr>
                    }
                    <tr>
                        <td class="caption center">MISSION CARGO</td>
                    </tr>
                </tbody>
            </table>

            displaydivider = true;

            foreach (var mg in Model.MissionCargo)
            {
                Cargo.CargoItem mm = ((List<Cargo.CargoItem>) mg).FirstOrDefault();

                <div>@mm.MissionName
                    @if (!string.IsNullOrEmpty(mm.System))
                    {
                        <text>to</text>
                        @mm.System
                    }
                    @if (!string.IsNullOrEmpty(mm.Station))
                    {
                        <text>,</text>
                        @mm.Station
                    }
                </div>

                <table class="zebratable">
                    <tbody>
                        @foreach (var m in mg)
                        {
                            <tr class="@(odd ? "zebraodd": "zebraeven")">
                                <td class="caption wrap">&nbsp;&nbsp;&nbsp;@m.Name</td>
                                <td class="data right">@m.Count</td>
                            </tr>
                            odd = !odd;
                        }
                    </tbody>
                </table>
            }

        }


        @if (Model.StolenCargoCount > 0)
        {
            odd = true;

            <table>
                <tbody>

                    @if (displaydivider)
                    {
                        <tr>
                            <td class="divider">&nbsp;</td>
                        </tr>
                    }
                    <tr>
                        <td class="caption center">STOLEN</td>
                    </tr>
                </tbody>
            </table>

            <table class="zebratable">
                <tbody>
                    @foreach (var m in Model.StolenCargo)
                    {
                        <tr class="@(odd ? "zebraodd": "zebraeven")">
                            <td class="caption wrap">@m.Name</td>
                            <td class="data right">@m.Stolen</td>
                        </tr>
                        odd = !odd;
                    }
                </tbody>
            </table>
        }
    </div>
