@using System
@using System.Collections.Generic
@using Elite
@using System.Linq
@{
    Layout = "layout.cshtml";

}

<div class="main">

    <div class="cardcaption">&nbsp;</div>

    @if (Model.Engineer != null)
    {
        <div class="imgcenter"><img style="width: 68%;" src="engineers\@(Model.Engineer.Faction).jpg" /></div>

        <table>
            <tbody>
                @if (!string.IsNullOrEmpty(Model.Engineer.Progress))
                {
                <tr>
                    <td class="caption">State</td>
                    <td class="data">@Model.Engineer.Progress
                        @if (Model.Engineer.Rank != null)
                        {
                            <text> (Grade</text> @Model.Engineer.Rank<text>)</text>
                        }
                    </td>
                </tr>
                }
                else
                {
                    <tr>
                        <td class="caption">State</td>
                        <td class="alarm">Locked</td>
                    </tr>

                }

                @if (!string.IsNullOrEmpty(Model.Engineer.SystemName))
                {
                <tr>
                    <td class="caption">In System</td>
                    <td class="data">@Model.Engineer.SystemName</td>
                </tr>
                }
                @if (Model.Engineer.Distance > 0)
                {
                <tr>
                    <td class="caption">Distance</td>
                    <td class="data">@Model.Engineer.Distance.ToString("N0") Ly</td>
                </tr>
                }

                @if (Model.Engineer.Body != null && !string.IsNullOrEmpty(Model.Engineer.Body.name))
                {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Body</td>
                    <td class="data">@Model.Engineer.Body.name</td>
                </tr>
                }

                @if (!string.IsNullOrEmpty(Model.Engineer.Name))
                {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Outpost</td>
                    <td class="data">@Model.Engineer.Name</td>
                </tr>
                }
                @if (Model.Engineer.DistanceToArrival > 0)
                {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Dist. from star</td>
                    <td class="data">@Model.Engineer.DistanceToArrival.ToString("N0") Ls</td>
                </tr>
                }

                @if (!string.IsNullOrEmpty(Model.Engineer.SystemSecurity))
                {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Security</td>
                    <td class="data">@Model.Engineer.SystemSecurity</td>
                </tr>
                }
                @if (Model.Engineer.SystemPopulation > 0)
                {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Population</td>
                    <td class="data">@Model.Engineer.SystemPopulation.ToString("N0")</td>
                </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Engineer.Allegiance))
                {
                <tr>
                    <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                    <td class="data">@Model.Engineer.Allegiance</td>
                </tr>
                }
                    
                <tr>
                    <td colspan="2" class="divider">&nbsp;</td>
                </tr>

            </tbody>
        </table>

        if (Model.Blueprints != null)
        {
            <table>
                <tbody>
                @foreach (var m in Model.Blueprints)
                {
                    <tr>
                        <td class="data" style="width: 50px;">&nbsp;&nbsp;&nbsp;@m.GradeString</td>
                        <td class="caption">@m.Type</td>
                    </tr>
                }
                </tbody>
            </table>
        }

    }
</div>
