@using Elite
<div class="menu">

    @if (Model.CurrentPage == LCDPage.HomeMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.Commander ? "highlight" : "") @(Model.Cursor == LCDTab.Commander ? "menucursor" : "")">CMDR</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.Navigation ? "highlight" : "") @(Model.Cursor == LCDTab.Navigation ? "menucursor" : "")">NAVIGATION</div></td>
                </tr>
                <tr>
                    <td>
                    @if (Model.TargetLocked)
                    {
                        <div class="@(Model.CurrentTab == LCDTab.Target ? "highlight" : "") @(Model.Cursor == LCDTab.Target ? "menucursor" : "")">TARGET</div>
                    }
                    else
                    {
                        <div class="disabled">TARGET</div>
                    }
                    </td>
                </tr>
                <tr>
                    <td>
                    @if (Model.MissionCount > 0)
                    {
                        <div class="@(Model.CurrentTab == LCDTab.Missions ? "highlight" : "") @(Model.Cursor == LCDTab.Missions ? "menucursor" : "")">MISSIONS</div>
                    }
                    else
                    {
                        <div class="disabled">MISSIONS</div>
                    }
                    </td>
                </tr>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LCDTab.ShipMenu ? "menucursor" : "")">SHIP &#x25b6;</div></td>
                </tr>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LCDTab.LocationsMenu ? "menucursor" : "")">LOCATIONS &#x25b6;</div></td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.CurrentPage == LCDPage.ShipMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LCDTab.ShipBack ? "menucursor" : "")">&#x25c0; BACK</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.Ship ? "highlight" : "") @(Model.Cursor == LCDTab.Ship ? "menucursor" : "")">SHIP</div></td>
                </tr>
                <tr>
                    <td>
                        @if (Model.MaterialCount > 0)
                        {
                            <div class="@(Model.CurrentTab == LCDTab.Materials ? "highlight" : "") @(Model.Cursor == LCDTab.Materials ? "menucursor" : "")">MATERIALS</div>
                        }
                        else
                        {
                            <div class="disabled">MATERIALS</div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.CargoCount > 0)
                        {
                            <div class="@(Model.CurrentTab == LCDTab.Cargo ? "highlight" : "") @(Model.Cursor == LCDTab.Cargo ? "menucursor" : "")">CARGO</div>
                        }
                        else
                        {
                            <div class="disabled">CARGO</div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="@(Model.CurrentTab == LCDTab.Events ? "highlight" : "") @(Model.Cursor == LCDTab.Events ? "menucursor" : "")">EVENTS</div>
                    </td>
                </tr>
                <tr>
                    <td><div>&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
    }
    else if (Model.CurrentPage == LCDPage.LocationsMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LCDTab.LocationsBack ? "menucursor" : "")">&#x25c0; BACK</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.POI ? "highlight" : "") @(Model.Cursor == LCDTab.POI ? "menucursor" : "")">POI</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.Map ? "highlight" : "") @(Model.Cursor == LCDTab.Map ? "menucursor" : "")">MAP</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.Powers ? "highlight" : "") @(Model.Cursor == LCDTab.Powers ? "menucursor" : "")">POWERS</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LCDTab.Mining ? "highlight" : "") @(Model.Cursor == LCDTab.Mining ? "menucursor" : "")">MINING</div></td>
                </tr>
                <tr>
                    <td><div>&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
    }
</div>
