@using Elite
<div class="menu">

    @if (Model.CurrentPage == LcdPage.HomeMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Commander ? "highlight" : "") @(Model.Cursor == LcdTab.Commander ? "menucursor" : "")">CMDR</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Navigation ? "highlight" : "") @(Model.Cursor == LcdTab.Navigation ? "menucursor" : "")">NAVIGATION</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Target ? "highlight" : "") @(Model.Cursor == LcdTab.Target ? "menucursor" : "")">TARGET</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Missions ? "highlight" : "") @(Model.Cursor == LcdTab.Missions ? "menucursor" : "")">MISSIONS</div></td>
                </tr>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LcdTab.ShipMenu ? "menucursor" : "")">SHIP &#x25b6;</div></td>
                </tr>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LcdTab.LocationsMenu ? "menucursor" : "")">LOCATIONS &#x25b6;</div></td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.CurrentPage == LcdPage.ShipMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LcdTab.ShipBack ? "menucursor" : "")">&#x25c0; BACK</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Ship ? "highlight" : "") @(Model.Cursor == LcdTab.Ship ? "menucursor" : "")">SHIP</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Materials ? "highlight" : "") @(Model.Cursor == LcdTab.Materials ? "menucursor" : "")">MATERIALS</div></td>
                </tr>
                <tr>
                    <td>
                        <div class="@(Model.CurrentTab == LcdTab.Cargo ? "highlight" : "") @(Model.Cursor == LcdTab.Cargo ? "menucursor" : "")">CARGO</div>
                    </td>
                </tr>
            <tr>
                <td>
                    @if (Model.ShowEngineer)
                    {
                        <div class="@(Model.CurrentTab == LcdTab.Engineer ? "highlight" : "") @(Model.Cursor == LcdTab.Engineer ? "menucursor" : "")">ENGINEER</div>
                    }
                    else
                    {
                        <div class="disabled">ENGINEER</div>
                    }
                </td>
            </tr>
                <tr>
                    <td>
                        <div class="@(Model.CurrentTab == LcdTab.Events ? "highlight" : "") @(Model.Cursor == LcdTab.Events ? "menucursor" : "")">EVENTS</div>
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else if (Model.CurrentPage == LcdPage.LocationsMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LcdTab.LocationsBack ? "menucursor" : "")">&#x25c0; BACK</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.POI ? "highlight" : "") @(Model.Cursor == LcdTab.POI ? "menucursor" : "")">POI</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Map ? "highlight" : "") @(Model.Cursor == LcdTab.Map ? "menucursor" : "")">MAP</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Powers ? "highlight" : "") @(Model.Cursor == LcdTab.Powers ? "menucursor" : "")">POWERS</div></td>
                </tr>
                <tr>
                    <td><div class="@(Model.CurrentTab == LcdTab.Mining ? "highlight" : "") @(Model.Cursor == LcdTab.Mining ? "menucursor" : "")">MINING</div></td>
                </tr>
                <tr>
                    <td><div>&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
    }
</div>
