@using System
@using System.Collections.Generic
@using Elite
@using System.Linq
@{
    Layout = "layout.cshtml";
    var jumpcount = 1;
    var fuelMain = Model.CurrentShip.CurrentFuelMain;
}

<div class="main">

    @if (Model.CurrentCard == 0)
    {
        <div class="cardcaption">&nbsp;</div>

        if (Model.RouteListCount > 0)
        {
            if (Model.RouteListCount == 1)
            {
                <div class="caption">1 jump (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
            }
            else
            {
                <div class="caption">@Model.RouteListCount jumps (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
            }
            <div>&nbsp;</div>
        }

        <table>
            <tbody>
                @if (Model.StarSystem != Model.FsdTargetName && Model.RemainingJumpsInRoute > 0)
                {
                    if (!string.IsNullOrEmpty(Model.FsdTargetName))
                    {
                        <tr>
                            <td class="caption">Next Jump</td>
                            <td class="data">@Model.FsdTargetName</td>
                        </tr>
                    }
                    if (Model.JumpDistance > 0)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Distance</td>
                            <td class="data">@Model.JumpDistance.ToString("N0") Ly</td>
                        </tr>
                    }
                    if (Model.FuelCost > 0 && Model.CurrentShip.CurrentFuelMain > 0 && Model.CurrentShip.CurrentFuelMain > Model.FuelCost)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Fuel Cost</td>
                            <td class="data">@Model.FuelCost.ToString("N1") T (remaining @((Model.CurrentShip.CurrentFuelMain - Model.FuelCost).ToString("N1")) T)</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.FuelWarning))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Warning</td>
                            <td class="data alarm">@Model.FuelWarning</td>
                        </tr>
                    }

                    if (!string.IsNullOrEmpty(Model.StarClass))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Star Class</td>
                            <td class="data">@Model.StarClass @Model.IsFuelStar</td>
                        </tr>
                    }

                    <tr>
                        <td class="divider" colspan="2">&nbsp;</td>
                    </tr>
                }

                <tr>
                    <td class="caption">In System</td>
                    <td class="data">@Model.StarSystem</td>
                </tr>

                @if (!string.IsNullOrEmpty(Model.SystemSecurity))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Security</td>
                        <td class="data">@Model.SystemSecurity</td>
                    </tr>
                }
                @if (Model.Population > 0)
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Population</td>
                        <td class="data">@Model.Population.ToString("N0")</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemGovernment))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Government</td>
                        <td class="data">@Model.SystemGovernment</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemAllegiance))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                        <td class="data">@Model.SystemAllegiance</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemFaction))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Faction</td>
                        <td class="data">@Model.SystemFaction</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemEconomy))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Economy</td>
                        <td class="data">@Model.SystemEconomy</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Powers))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Power</td>
                        <td class="data">@Model.Powers</td>
                    </tr>
                    if (!string.IsNullOrEmpty(Model.PowerplayState))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Pwr. State</td>
                            <td class="data">@Model.PowerplayState</td>
                        </tr>
                    }
                }


                @if (!Model.HideBody)
                {
                    if (Model.BodyType == "Station")
                    {
                        <tr>
                            <td class="divider" colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="caption">Station</td>
                            <td class="data">@Model.Station</td>
                        </tr>
                    }
                    else if (!string.IsNullOrEmpty(Model.BodyType) && !string.IsNullOrEmpty(Model.Body) && Model.Body != Model.FsdTargetName && Model.Body != Model.StarSystem)
                    {
                        <tr>
                            <td class="divider" colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="caption">Body</td>
                            <td class="data">@Model.Body</td>
                        </tr>
                        if (!string.IsNullOrEmpty(Model.BodyType))
                        {
                            <tr>
                                <td class="caption">&nbsp;&nbsp;&nbsp;Type</td>
                                <td class="data">@Model.BodyType</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(Model.Settlement))
                        {
                            <tr>
                                <td class="caption">&nbsp;&nbsp;&nbsp;Settlement</td>
                                <td class="data">@Model.Settlement</td>
                            </tr>
                        }

                    }
                }

                @if (Model.Docked)
                {
                    if (!string.IsNullOrEmpty(Model.StationType))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Type</td>
                            <td class="data">@Model.StationType</td>
                        </tr>
                    }
                    if (Model.DistFromStarLs > 0)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Dist. from star</td>
                            <td class="data">@Model.DistFromStarLs.ToString("N1") Ls</td>
                        </tr>
                    }

                    if (!string.IsNullOrEmpty(Model.Government))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Government</td>
                            <td class="data">@Model.Government</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Allegiance))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                            <td class="data">@Model.Allegiance</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Faction))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Faction</td>
                            <td class="data">@Model.Faction</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Economy))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Economy</td>
                            <td class="data">@Model.Economy</td>
                        </tr>
                    }

                }
                else
                {
                    if (Model.LandingPad > 0)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Landing Pad</td>
                            <td class="data">@Model.LandingPad</td>
                        </tr>
                    }
                }

                <tr>
                    <td class="caption">&nbsp;</td>
                    <td class="data">&nbsp;</td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.CurrentCard == 1)
    {
        <div class="cardcaption">&nbsp;</div>

        if (Model.RouteListCount == 0)
        {
            <div class="cardcaption data">NO ROUTE SET</div>
        }
        else if (Model.RouteListCount == 1)
        {
            <div class="caption">1 jump (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
        }
        else
        {
            <div class="caption">@Model.RouteListCount jumps (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
        }
        <div>&nbsp;</div>
        <table>
            <tbody>
                @foreach (var m in Model.RouteList)
                {
                    <tr>
                        <td class="caption">Jump #@jumpcount</td>
                        <td class="data">@m.StarSystem</td>
                    </tr>
                    if (m.Distance > 0)
                    {
                        <tr>
                            <td class="caption">Distance</td>
                            <td class="data">@m.Distance.ToString("N0") Ly</td>
                        </tr>
                    }
                    if (m.FuelCost > 0 && fuelMain > 0 && fuelMain > m.FuelCost)
                    {
                        <tr>
                            <td class="caption">Fuel Cost</td>
                            <td class="data">@m.FuelCost.ToString("N1") T (remaining @((fuelMain - m.FuelCost).ToString("N1")) T)</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(m.FuelWarning))
                    {
                        <tr>
                            <td class="caption">Warning</td>
                            <td class="data alarm">@m.FuelWarning</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(m.StarClass))
                    {
                        <tr>
                            <td class="caption">Star Class</td>
                            <td class="data">@m.StarClass @m.IsFuelStar</td>
                        </tr>
                    }


                    if (m.StationsInSystem != null)
                    {
                        foreach (var n in m.StationsInSystem)
                        {
                            <tr>
                                <td class="caption">&nbsp;&nbsp;Station</td>
                                <td class="data">@n.Name</td>
                            </tr>
                            if (!string.IsNullOrEmpty(n.Type))
                            {
                                <tr>
                                    <td class="caption">&nbsp;&nbsp;&nbsp;&nbsp;Type</td>
                                    <td class="data">@n.Type</td>
                                </tr>
                            }
                            if (n.DistanceToArrival > 0)
                            {
                                <tr>
                                    <td class="caption">&nbsp;&nbsp;&nbsp;&nbsp;Dist. from star</td>
                                    <td class="data">@n.DistanceToArrival.ToString("N1") Ls</td>
                                </tr>
                            }
                        }
                    }

                    if (!((List<Elite.RouteItem>)Model.RouteList).Last().Equals((Elite.RouteItem)m))
                    {
                        <tr>
                            <td class="divider" colspan="2">&nbsp;</td>
                        </tr>
                    }
                    jumpcount++;
                    fuelMain -= m.FuelCost;
                }
            </tbody>
        </table>
    }
    else if (Model.CurrentCard == 2)
    {
        <div class="cardcaption">&nbsp;</div>

        if (Model.SystemData.StarSystem != Model.StarSystem)
        {
            <div class="cardcaption data">RETRIEVING SYSTEM DATA</div>
        }
        else
        {
            if (Model.SystemData.Data == null)
            {
                <div class="cardcaption data alarm">NO SYSTEM DATA FOUND</div>
            }
            else
            {
                if (Model.SystemData.Progress < 100.0)
                {
                    <div class="cardcaption data alarm">Scanned @Model.SystemData.Progress.ToString("N0")% of @Model.SystemData.Data.bodyCount Bodies</div>
                }

                <table style="border-spacing: 0px;">
                    <tbody>

                        @for (var i = 0; i < ((List<Elite.Body>)Model.SystemData.Data.bodies).Count; i++)
                        {
                            var m = ((List<Elite.Body>)Model.SystemData.Data.bodies)[i];

                            <tr>
                                <td>
                                    <table style="border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                @Html.BodyTreeElement1(i)
                                                <td>
                                                    <table style="border-spacing: 0px; background-color:  #303030;">
                                                        <tbody>
                                                            <tr>
                                                                <td class="caption" style="width: 50px;">@m.bodyType</td>
                                                                <td class="data">@m.name</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table style="border-spacing: 0px;">
                                        <tbody>
                                            <tr>
                                                @Html.BodyTreeElement2(i)
                                                <td>
                                                    <table style="border-spacing: 0px; background-color: #202020; ">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table style="border-spacing: 0px;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="caption" colspan="2">
                                                                                    @m.subType
                                                                                    @(m.isScoopable == true ? ", Fuel Star":"")
                                                                                    @(m.isLandable == true ? ", Landable":"")
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="caption">Distance</td>
                                                                                <td class="data right">@m.distanceToArrival.ToString("N0") Ls</td>
                                                                            </tr>
                                                                            @if (m.gravity > 0)
                                                                            {
                                                                                <tr>
                                                                                    <td class="caption">Gravity</td>
                                                                                    <td class="data right">@(((float)m.gravity).ToString("N1")) G</td>
                                                                                </tr>
                                                                            }

                                                                            @if (!string.IsNullOrEmpty(m.volcanismType))
                                                                            {
                                                                                <tr>
                                                                                    <td class="caption">Volcanism</td>
                                                                                    <td class="data right">@m.volcanismType</td>
                                                                                </tr>
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(m.atmosphereType))
                                                                            {
                                                                                <tr>
                                                                                    <td class="caption">Atmosphere</td>
                                                                                    <td class="data right">@m.atmosphereType</td>
                                                                                </tr>
                                                                            }
                                                                            @if (!string.IsNullOrEmpty(m.terraformingState))
                                                                            {
                                                                                <tr>
                                                                                    <td class="caption">Terraforming</td>
                                                                                    <td class="data right">@m.terraformingState</td>
                                                                                </tr>
                                                                            }


                                                                            @if (m.rings != null)
                                                                            {
                                                                                for (var j = 0; j < ((List<Elite.Ring>)m.rings).Count; j++)
                                                                                {
                                                                                    var r = ((List<Elite.Ring>)m.rings)[j];
                                                                                    <tr>
                                                                                        <td class="caption">Ring @(j+1) of @(((List<Elite.Ring>) m.rings).Count) </td>
                                                                                        <td class="data right">@r.name.Replace(m.name, "").Trim() (@r.ringType)</td>
                                                                                    </tr>
                                                                                }
                                                                            }

                                                                            @if (m.materials != null)
                                                                            {
                                                                                <tr>
                                                                                    <td class="caption">Materials</td>
                                                                                    <td class="data right smallfont">@Html.MaterialsString(i)</td>
                                                                                </tr>
                                                                            }

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                @Html.BodyTreeElement3(i)
                                                <td style="font-size: 3px;">&nbsp;</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
        }

    }

</div>