@using System
@using System.Collections.Generic
@using Elite
@using System.Linq
@{
    Layout = "layout.cshtml";
    var jumpcount = 1;
}

<div class="main">

    @if (Model.CurrentCard == 0)
    {
        <div class="cardcaption">&nbsp;</div>

        if (Model.RouteListCount > 0)
        {
            if (Model.RouteListCount == 1)
            {
                <div class="caption">1 jump (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
            }
            else
            {
                <div class="caption">@Model.RouteListCount jumps (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
            }
            <div>&nbsp;</div>
        }

        <table>
            <tbody>
                @if (Model.StarSystem != Model.FsdTargetName && Model.RemainingJumpsInRoute > 0)
                {
                    if (!string.IsNullOrEmpty(Model.FsdTargetName))
                    {
                        <tr>
                            <td class="caption">Next Jump</td>
                            <td class="data">@Model.FsdTargetName</td>
                        </tr>
                    }
                    if (Model.JumpDistance > 0)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Distance</td>
                            <td class="data">@Model.JumpDistance.ToString("N0") Ly</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.StarClass))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Star Class</td>
                            <td class="data">@Model.StarClass</td>
                        </tr>
                    }

                    <tr>
                        <td class="divider" colspan="2">&nbsp;</td>
                    </tr>
                }

                <tr>
                    <td class="caption">In System</td>
                    <td class="data">@Model.StarSystem</td>
                </tr>

                @if (!string.IsNullOrEmpty(Model.SystemSecurity))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Security</td>
                        <td class="data">@Model.SystemSecurity</td>
                    </tr>
                }
                @if (Model.Population > 0)
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Population</td>
                        <td class="data">@Model.Population.ToString("N0")</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemGovernment))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Government</td>
                        <td class="data">@Model.SystemGovernment</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemAllegiance))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                        <td class="data">@Model.SystemAllegiance</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemFaction))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Faction</td>
                        <td class="data">@Model.SystemFaction</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.SystemEconomy))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Economy</td>
                        <td class="data">@Model.SystemEconomy</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.Powers))
                {
                    <tr>
                        <td class="caption">&nbsp;&nbsp;&nbsp;Power</td>
                        <td class="data">@Model.Powers</td>
                    </tr>
                    if (!string.IsNullOrEmpty(Model.PowerplayState))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Pwr. State</td>
                            <td class="data">@Model.PowerplayState</td>
                        </tr>
                    }
                }


                @if (!Model.HideBody)
                {
                    if (Model.BodyType == "Station")
                    {
                        <tr>
                            <td class="divider" colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="caption">Station</td>
                            <td class="data">@Model.Station</td>
                        </tr>
                    }
                    else if (!string.IsNullOrEmpty(Model.BodyType) && !string.IsNullOrEmpty(Model.Body) && Model.Body != Model.FsdTargetName && Model.Body != Model.StarSystem)
                    {
                        <tr>
                            <td class="divider" colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <td class="caption">Body</td>
                            <td class="data">@Model.Body</td>
                        </tr>
                        if (!string.IsNullOrEmpty(Model.BodyType))
                        {
                            <tr>
                                <td class="caption">&nbsp;&nbsp;&nbsp;Type</td>
                                <td class="data">@Model.BodyType</td>
                            </tr>
                        }
                        if (!string.IsNullOrEmpty(Model.Settlement))
                        {
                            <tr>
                                <td class="caption">&nbsp;&nbsp;&nbsp;Settlement</td>
                                <td class="data">@Model.Settlement</td>
                            </tr>
                        }

                    }
                }

                @if (Model.Docked)
                {
                    if (!string.IsNullOrEmpty(Model.StationType))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Type</td>
                            <td class="data">@Model.StationType</td>
                        </tr>
                    }
                    if (Model.DistFromStarLs > 0)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Dist. from star</td>
                            <td class="data">@Model.DistFromStarLs.ToString("N1") Ls</td>
                        </tr>
                    }

                    if (!string.IsNullOrEmpty(Model.Government))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Government</td>
                            <td class="data">@Model.Government</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Allegiance))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Allegiance</td>
                            <td class="data">@Model.Allegiance</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Faction))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Faction</td>
                            <td class="data">@Model.Faction</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(Model.Economy))
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Economy</td>
                            <td class="data">@Model.Economy</td>
                        </tr>
                    }

                }
                else
                {
                    if (Model.LandingPad > 0)
                    {
                        <tr>
                            <td class="caption">&nbsp;&nbsp;&nbsp;Landing Pad</td>
                            <td class="data">@Model.LandingPad</td>
                        </tr>
                    }
                }

                <tr>
                    <td class="caption">&nbsp;</td>
                    <td class="data">&nbsp;</td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.CurrentCard == 1)
    {
        <div class="cardcaption">&nbsp;</div>

        if (Model.RouteListCount == 0)
        {
            <div class="cardcaption data">NO ROUTE SET</div>
        }
        else if (Model.RouteListCount == 1)
        {
            <div class="caption">1 jump (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
        }
        else
        {
            <div class="caption">@Model.RouteListCount jumps (@Model.RouteListDistance.ToString("N0") Ly) left to @Model.RouteDestination </div>
        }
        <div>&nbsp;</div>
        <table>
            <tbody>
                @foreach (var m in Model.RouteList)
                {
                    <tr>
                        <td class="caption">Jump #@jumpcount</td>
                        <td class="data">@m.StarSystem</td>
                    </tr>
                    if (m.Distance > 0)
                    {
                        <tr>
                            <td class="caption">Distance</td>
                            <td class="data">@m.Distance.ToString("N0") Ly</td>
                        </tr>
                    }
                    if (!string.IsNullOrEmpty(m.StarClass))
                    {
                        <tr>
                            <td class="caption">Star Class</td>
                            <td class="data">@m.StarClass</td>
                        </tr>
                    }


                    if (m.StationsInSystem != null)
                    {
                        foreach (var n in m.StationsInSystem)
                        {
                            <tr>
                                <td class="caption">&nbsp;&nbsp;Station</td>
                                <td class="data">@n.Name</td>
                            </tr>
                            if (!string.IsNullOrEmpty(n.Type))
                            {
                                <tr>
                                    <td class="caption">&nbsp;&nbsp;&nbsp;&nbsp;Type</td>
                                    <td class="data">@n.Type</td>
                                </tr>
                            }
                            if (n.DistanceToArrival > 0)
                            {
                                <tr>
                                    <td class="caption">&nbsp;&nbsp;&nbsp;&nbsp;Dist. from star</td>
                                    <td class="data">@n.DistanceToArrival.ToString("N1") Ls</td>
                                </tr>
                            }
                        }
                    }

                    if (!((List<Elite.RouteItem>)Model.RouteList).Last().Equals((Elite.RouteItem)m))
                    {
                        <tr>
                            <td class="divider" colspan="2">&nbsp;</td>
                        </tr>
                    }
                    jumpcount++;
                }
            </tbody>
        </table>
    }
</div>