@using System
@using System.Collections.Generic
@using Elite
@using System.Linq
@{
    Layout = "layout.cshtml";

}

<div class="main">

    <div class="cardcaption">&nbsp;</div>

    @if (Model.SystemData.StarSystem != Model.StarSystem)
    {
        <div class="cardcaption data">RETRIEVING SYSTEM DATA</div>
    }
    else
    {
        if (Model.SystemData.Data == null)
        {
            <div class="cardcaption data alarm">NO SYSTEM DATA FOUND</div>
        }
        else
        {
            if (Model.SystemData.Progress < 100.0)
            {
                <div class="cardcaption data alarm">Scanned @Model.SystemData.Progress.ToString("N0")% of @Model.SystemData.Data.bodyCount Bodies</div>
            }

            <table style="border-spacing: 0px;">
                <tbody>
                    
                    @for (var i = 0; i < ((List<Elite.Body>)Model.SystemData.Data.bodies).Count; i++)
                    {
                        var m = ((List<Elite.Body>) Model.SystemData.Data.bodies)[i];

                        <tr>
                            <td>
                                <table style="border-spacing: 0px;">
                                    <tbody>
                                        <tr>
                                            @Html.BodyTreeElement1(i)
                                            <td>
                                                <table style="border-spacing: 0px; background-color:  #303030;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="caption" style="width: 50px;">@m.bodyType</td>
                                                            <td class="data">@m.name</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table style="border-spacing: 0px;">
                                    <tbody>
                                        <tr>
                                            @Html.BodyTreeElement2(i)
                                            <td>
                                                <table style="border-spacing: 0px; background-color: #202020; ">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="border-spacing: 0px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="caption" colspan="2">
                                                                                @m.subType
                                                                                @(m.isScoopable == true ? ", Fuel Star":"")
                                                                                @(m.isLandable == true ? ", Landable":"")
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="caption">Distance</td>
                                                                            <td class="data right">@m.distanceToArrival.ToString("N0") Ls</td>
                                                                        </tr>
                                                                        @if (m.gravity > 0)
                                                                        {
                                                                            <tr>
                                                                                <td class="caption">Gravity</td>
                                                                                <td class="data right">@(((float)m.gravity).ToString("N1")) G</td>
                                                                            </tr>
                                                                        }

                                                                        @if (!string.IsNullOrEmpty(m.volcanismType))
                                                                        {
                                                                            <tr>
                                                                                <td class="caption">Volcanism</td>
                                                                                <td class="data right">@m.volcanismType</td>
                                                                            </tr>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(m.atmosphereType))
                                                                        {
                                                                            <tr>
                                                                                <td class="caption">Atmosphere</td>
                                                                                <td class="data right">@m.atmosphereType</td>
                                                                            </tr>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(m.terraformingState))
                                                                        {
                                                                            <tr>
                                                                                <td class="caption">Terraforming</td>
                                                                                <td class="data right">@m.terraformingState</td>
                                                                            </tr>
                                                                        }


                                                                        @if (m.rings != null)
                                                                        {
                                                                            for (var j = 0; j < ((List<Elite.Ring>)m.rings).Count; j++)
                                                                            {
                                                                                var r = ((List<Elite.Ring>)m.rings)[j];
                                                                                <tr>
                                                                                    <td class="caption">Ring @(j+1) of @(((List<Elite.Ring>) m.rings).Count) </td>
                                                                                    <td class="data right">@r.name.Replace(m.name, "").Trim() (@r.ringType)</td>
                                                                                </tr>
                                                                            }
                                                                        }

                                                                        @if (m.materials != null)
                                                                        {
                                                                            <tr>
                                                                                <td class="caption">Materials</td>
                                                                                <td class="data right smallfont">@Html.MaterialsString(i)</td>
                                                                            </tr>
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            @Html.BodyTreeElement3(i)
                                            <td style="font-size: 3px;">&nbsp;</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    }

</div>
